
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.ist1</h3>
                        <p>Toplam kategori sayısı</p>
                    </div>
                    
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.ist2 <sup style="font-size: 20px"></sup></h3>
                        <p>Yazılım kategorisine ait başlık sayısı</p>
                    </div>
                    
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.ist3</h3>
                        <p>Yazar adında 'a' harfi geçen yazar sayısı</p>
                    </div>
                    
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.ist4</h3>
                        <p>En fazla başlığa sahip kategori adı</p>
                    </div>
                    
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3> @ViewBag.ist5</h3>
                        <p>Durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</p>
                    </div>

                </div>
            </div>
        </div>
        
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>